@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=WDXL+Lubrifont+TC&display=swap');

* {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
}

@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 transparent; 
}


*::-webkit-scrollbar {
  width: 6px;      
  height: 0px;        
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 9999px;
}


/* Animations */
  @keyframes float {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-20px) rotate(180deg);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  @keyframes equalize {
    0%, 100% { transform: scaleY(0.5) }
    50% { transform: scaleY(1) }
  }

  .animate-equalizer {
    animation: equalize 1s ease-in-out infinite;
  }



  @theme {
    --breakpoint-xs: 480px;
  }
